/.EMFProfileDecorationLanguageEObjectHoverProvider.java._trace
/.EMFProfileDecorationLanguageDocumentationProvider.java._trace
/.EMFProfileDecorationLanguageEObjectDocumentationProvider.java._trace
/EMFProfileDecorationLanguageEObjectDocumentationProvider.java
/EMFProfileDecorationLanguageEObjectHoverProvider.java
