<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelversioning.emfprofile.application.registry.extensionpoint.decorator" name="EMF Profile Application Decorator Extension Point" schema="schema/org.modelversioning.emfprofile.application.registry.extensionpoint.decorator.exsd"/>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated profileApplicationRegistry -->
      <package
            uri="http://org.modelversioning/emfprofile/application/registry"
            class="org.modelversioning.emfprofile.application.registry.metadata.EMFProfileApplicationRegistryPackage"
            genModel="model/profileApplicationRegistry.genmodel"/>
   </extension>

</plugin>
