/.EMFProfileDecorationLanguageHighlightingConfiguration.java._trace
/.EMFProfileDecorationLanguageHighlightingCalculator.java._trace
/.EMFProfileDecorationLanguageAntlrTokenToAttributeIdMapper.java._trace
/EMFProfileDecorationLanguageAntlrTokenToAttributeIdMapper.java
/EMFProfileDecorationLanguageHighlightingCalculator.java
/EMFProfileDecorationLanguageHighlightingConfiguration.java
