/.EMFProfileDecorationLanguageDescriptionLabelProvider.java._trace
/.EMFProfileDecorationLanguageLabelProvider.java._trace
/EMFProfileDecorationLanguageDescriptionLabelProvider.java
/EMFProfileDecorationLanguageLabelProvider.java
