<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.modelversioning.emfprofile.application.registry.extensionpoint.decorator">
      <decorator
            class="org.modelversioning.emfprofile.application.decorator.reflective.EMFProfileApplicationDecoratorImpl">
      </decorator>
   </extension>
</plugin>
